<html>
  <body>
    <div id="header">
      <h1>Overlord's Bomb Activation Screen</h1>
    </div>
    <div id="nav">
      1. Activate your bomb<br>
      2. Profit!!!!<br>
    </div>

    <div id="section">
      <h1>Activate Your Bomb</h1>
      <p>
      <form action="/activate/" method="POST">
        Activation Code: <input type="text" name="act_code"> <br/>
        <input name="activate" value="activate"  type="submit">
      </form>
      </p>
    </div>

    <div id="footer">
    </div>

  </body>
</html>
