<html>
<body>

  <div id="header">
    <h1>Overlord's Bomb Boot Screen</h1>
  </div>

  <div id="nav">
    1. Boot your bomb<br>
    2. Activate your bomb<br>
    3. Profit!!!!<br>
  </div>

  <div id="section">
    <h1>Boot your bomb</h1>
    <p>
    You can customize your activation & deactivation codes, otherwise they will be 1234 and 0000 respectively.
    </p>
    <p>
    <form action="/activate/" method="GET">
      Activation Code: <input type="text" name="act_code"> <br/>
      Deactivation Code: <input type="text" name="deact_code"> <br/>
      <input name="boot" value="boot" type="submit">
    </form>
    </p>
  </div>

  <div id="footer">
  </div>

</body>
</html>
