<html>
<body>
  <div id="header">
    <h1>Overlord's Bomb Deactivation Screen</h1>
  </div>
  <div id="nav">
    1. Deactivate your bomb but be careful, you might explode it<br>
    2. Profit!!!!<br>
  </div>

  <div id="section">
    <h1>Deactivate Your Bomb</h1>
    <p>
    <form action="/deactivate/" method="POST">
      Activation Code: <input type="text" name="deact_code"> <br/>
      <input name="deactivate" value="deactivate"  type="submit">
    </form>
    </p>
  </div>
  <div id="footer">
  </div>
</body>
</html>
