<html>
<body>
  <div id="header">
    <h1>Overlord's Bomb Exploded Screen</h1>
  </div>
  <div id="nav">
    Well.....shit.<br>
  </div>

  <div id="section">
    <h1>Explosion looked something like this...</h1>
    <p>
    <img src="http://www.adweek.com/fishbowldc/files/original/explosion-atomique.jpg?red=dc">
    </p>
    <p>
    <form action="/" method="GET">
      <input name="try_again" value="Try Again"  type="submit">
    </form>
    </p>
  </div>
  <div id="footer">
  </div>
</body>
</html>
